# LaTeX output formats
*.dvi
*.xdv
*.pdf

# LaTeX auxiliary files 
*.log
*.aux

# ConTeXt auxiliary files
*-mpgraph.mp
*.tmp
*.tui
*.tuo

# BibTeX / Biber
*.bbl
*.bcf
*.blg
*.pdf
*.run.xml
*.xdv

# Editor-specific
*.el
/latex/bibtex/bibtex.tex~
